{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron bg-cover">

</div>
<div class="container-fluid text-center">
  <h1 class="display-1" style = "font-size: 60px;">Omoine.com!</h1>
  <h3 class="display-4" style = "font-size: 30px;">Welcome to the Sales Manager Application</h3>
  <p class="lead">This app has been created specifically to manage the product stock and sales. It helps produce sales and revenue reports. </p>
  <hr class="my-4">
    {% if session.logged_in %}
      <p></p>
    {% else %}
      <p>To view and update stock, kindly login below.</p>
      <p class="lead">
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    {% endif %}

  </p>
</div>
{% endblock %}
